.sliderimg {
  width: 400px;
  height: 600px;
  max-width: fit-content;
  object-fit: cover;
  text-align: center;
  object-position: top;
  transform: translateY(-8rem);
}

.container {
  text-align: center;
}

.container-img-2 {
  position: relative;
  height: auto;
  width: 400px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5rem;
  background-color: rgb(222,234,248);
}

.fotos {
  height: 500px;
}

p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
}